* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: #303134;
}
#scr {
  display: none;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 90px;
  margin-bottom: 50px;
  text-decoration: none;
  color: white;
  @media screen and (max-width: 1440px) {
    font-size: 120px;
  }
  @media screen and (max-width: 768px) {
    font-size: 90px;
  }
  @media screen and (max-width: 580px) {
    font-size: 100px;
  }
  @media screen and (max-width: 300px) {
    font-size: 80px;
  }
}

.input {
  position: relative;
  width: 584px;
  border-radius: 24px;
  background: #4d5156;
  border: none;
  min-height: 46px;
  @media screen and (max-width: 1440px) {
    height: 70px;
    width: 700px;
  }
  @media screen and (max-width: 768px) {
    height: 70px;
    width: 584px;
  }
  @media screen and (max-width: 580px) {
    height: 60px;
    width: 500px;
  }
  @media screen and (max-width: 470px) {
    width: 400px;
  }
  @media screen and (max-width: 400px) {
    width: 350px;
  }
  @media screen and (max-width: 350px) {
    width: 300px;
  }
  @media screen and (max-width: 300px) {
    width: 250px;
  }
}

.button-wrapper {
  margin-top: 30px;

  @media screen and (max-width: 350px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.btn {
  padding: 10px 17px 10px 17px;
  border-radius: 4px;
  border: 1px solid #4a4b50;
  color: white;
  background: #45464b;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  @media screen and (max-width: 1440px) {
    padding: 20px 30px 20px 30px;
    font-size: 20px;
  }
  @media screen and (max-width: 400px) {
    padding: 10px 17px 10px 17px;
    font-size: 16px;
  }
}

.first {
  margin-right: 15px;
}
