* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
}
video {
  display: none;
  width: 100%;
  height: 100%;

  object-fit: cover;
}
button {
  width: 100%;
  display: block;
  height: 333px;
  color: black;
  border: 1px solid black;
  background-color: white;
}
